*{
	padding:0;

}
.box-form {
	width:30%
	min-height:500px;
	border:1px solid;
	margin:10% auto;
}
body{
			font-style:italic;
			font-size:20px;
			background-image:url(01.jpg);
			font-weight: bold;
			font-variant: small-caps;
			color:black;

		}
		tr td{
		margin-top:25px;
		margin-right:25.px;
		padding:25px;
		}
		*{
		}